[Unit]
Description=GnuMed Backup Trigger
Requires=run-media-lray-GNUMED_BACKUP_AC.mount
After=run-media-lray-GNUMED_BACKUP_AC.mount

[Service]
ExecStart=/home/lray/bin/trigger-script.sh

[Install]
WantedBy=run-media-lray-GNUMED_BACKUP_AC.mount
