[Unit]
Description=GnuMed Backup Trigger
Requires=run-media-lray-GNUMED_BACKUP_AC.mount
After=run-media-lray-GNUMED_BACKUP_AC.mount

[Service]
ExecStart=/usr/sbin/gm-backup

[Install]
WantedBy=run-media-lray-GNUMED_BACKUP_AC.mount
